/* /////RUN TRACKER STYLES/////// */

.runTracker {
  background-color: lightblue;
}

.leaflet-container {
  width: 100vw;
  height: 70vh;
}

.switch {
  position: sticky;
  display: inline-block;
  width: 120px;
  height: 64px;
  top: 30px;
  margin: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 46px;
  width: 46px;
  left: 10px;
  bottom: 10px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4cd137;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4cd137;
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tracker {
  display: flex;
  justify-content: center;
}

h1 {
  color: black;
}

.runTracker {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.slidingNav {
  display: flex;
  justify-content: space-between;
}

.footerToolBar {
  background-color: slategray;
  display: flex;
  flex-direction: column;
  height: 20vh;
}
.footerComponents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.infoColumns {
  margin-left: 20px;
  margin-right: 20px;
}

.trackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.distanceTimer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.distance {
  padding: 5px;
  width: 125px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 125px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.hrMin {
  font-size: 30px;
}
.ms {
  font-size: 18px;
  padding: 5px;
  margin-top: 2px;
}

/* ///////RUN TRACKER STYLES ABOVE///// */

/* //////TIMER STYLES///////////////// */

.modalComponents{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalTimeDistance{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.single-run-history img {
  width: auto;
  height: auto;
}
/* ///////RUN TRACKER CSS ABOVE/////// */
